@page "/citas"

<PageTitle>Citas</PageTitle>

@using PetServiceBlazor.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http


<div class="title">
    <div class="title_content">
        <h1>Citas</h1>
    </div>
    <div class="title_btn">
        <a href="/citas/add" class="btn btn-success">
            <i class="oi oi-plus"></i>
            Añadir
        </a>
    </div>
</div>

<p>This component demonstrates fetching data from a service.</p>

@if (citas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Usuario</th>
                <th>Mascota</th>
                <th>Fecha</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cita in citas)
            {
                <tr>
                    <td>@cita.IdServicio</td>
                    <td>@cita.IdUsuario</td>
                    <td>@cita.IdMascota</td>
                    <td>@cita.Fecha</td>
                    <td>@cita.Descripcion</td>
                    <td>
                        <span class="icon">
                            <a href="/citas/update/@cita.IdCita" class="oi oi-pencil" title="Editar"></a>
                        </span>
                        <span class="icon">
                            <a href="/citas/delete/@cita.IdCita" class="oi oi-trash" title="Borrar"></a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Citas";
    private IList<Cita>? citas;

    protected override async Task OnInitializedAsync()
    {
        citas = await http.GetFromJsonAsync<IList<Cita>>(api);
    }
}
